@model int

<form class="btn-UI-Container"
      asp-action="RemoveBaseItemFromInventory"
      asp-controller="Inventory"
      asp-route-id="@Model">

    <div class="input-group">
        <div class="input-group-prepend">
            <input type="submit" value="Remove Multiple" class="btn btn-UI" />
        </div>
        <input type="number" min="1" class="form-control" name="amount" value="1">
    </div>
</form>