@model int

<div class="btn-UI-Container">
    <a class="btn btn-UI"
       asp-controller="Inventory"
       asp-action="RemoveFromInventory"
       asp-route-id="@Model">
        Remove from Inventory
    </a>
</div>