@model int

<div class="py-1">
    <a class="btn btn-link d-inline-block"
       asp-controller="Inventory"
       asp-action="RemoveFromInventory"
       asp-route-id="@Model">
        Remove from Inventory
    </a>
</div>