
@model BaseItem


<div class="card">
    <img class="card-img" src="@Url.Content("~/Images/" + Model.ImageUrl)" />
    <div class="card-body">

        <p class="card-text">@Model.Description</p>
        <h4>@Model.BasePrice.ToString()</h4>
    </div>
</div>