@model int

<div class="btn-toolbar">

    <div class="btn-group">
        <a class="btn btn-link"
           asp-controller="Inventory"
           asp-action="AddToInventory"
           asp-route-bItemID="@Model">Add to Inventory
        </a>
    </div>

    <form class="btn-group"
          asp-action="AddToInventory"  
          asp-controller="Inventory"
          asp-route-bItemID="@Model"
          >

        <div class="input-group">
            <div class="input-group-prepend">
                <input type="submit" value="Add Multiple" class="btn btn-link"/>
            </div>
            <input type="number" class="form-control" name="amount" value="1">
        </div>
    </form>
</div>