@model InventoryViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Your Inventory</h2>

<table class="table table-catalogue">
    <thead>
        <tr>
            <th></th>
            <th>Item</th>
            <th>Quality</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Inventory.InventoryItems)
        {
        <tr>
            <td><img src="@Url.Content("~/Images/" + item.BaseItem.ImageUrl)"/></td>
            <td >@item.BaseItem.Name</td>
            <td >@item.Quality</td>
            <td >@item.Price.ToString("c")</td>
        </tr>
        }
    </tbody>
</table>


