@model BaseItemsCreateEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BaseItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BaseItem.Name" class="control-label"></label>
                <input asp-for="BaseItem.Name" class="form-control" />
                <span asp-validation-for="BaseItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseItem.ImageUrl" class="control-label"></label>
                <select asp-for="BaseItem.ImageUrl" class="form-control" asp-items="Model.Images"></select>
                <span asp-validation-for="BaseItem.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseItem.BasePrice" class="control-label"></label>
                <input asp-for="BaseItem.BasePrice" class="form-control" />
                <span asp-validation-for="BaseItem.BasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseItem.Description" class="control-label"></label>
                <input asp-for="BaseItem.Description" class="form-control" />
                <span asp-validation-for="BaseItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseItem.CategoryID" class="control-label"></label>
                <select asp-for="BaseItem.CategoryID" class="form-control" asp-items="Model.Categories"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

